<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/styles.css">
    <title>Movie Recommender</title>
</head>
<body>

    <h1>Welcome to this Netflix Movie Recommender!</h1>
    <p>Input a movie title below to find out similar titles!</p>

    <form action="/" method="POST">
        <input type="text" id="movie-input" name="movie" placeholder="Enter a movie">
        <button type="submit">Submit</button>
    </form>
    
    {% if data[0] == 0 %}
        <div class="recommendations">
            <h2>Movie Recommendations For {{ data[2] }}:</h2>
            <ul class="movies-list">
                {% for movie in data[1] %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </ul>
        </div>
    {% elif data[0] == 1 %}
        <div class="similarities">
            <h2>No Matching Titles Found For {{ data[2] }}</h2>
            <h3>Did you mean one of the following?</h3>
            <ul class="similar-list">
                {% for movie in data[1] %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </ul>
        </div>
    {% elif data[0] == 2 %}
        <div class="no_results">
            <h2>No Similar Titles Found For {{ data[2] }}</h2>
            <h3>Please try again. This title is not on Netflix at this time.</h3>
            <h3>Here are some titles that Netflix is currently streaming:</h3>
            <ul class="no_results-list">
                {% for movie in data[1] %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

</body>
</html>
